/* Estilo do containerHeader */
.containerHeader {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #000;
    flex-direction: row;
    width: 100%;
    max-width: 75%;
    margin: 20px auto;
  }
  
  .containerHeader .Logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #277e1c;
  }
  
  .containerHeader .Logo .Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Responsividade para telas Full HD (1920x1080) */
  @media (min-width: 1920px) {
    .containerHeader {
      max-width: 80%; /* Aumenta a largura máxima para caber melhor na tela */
      padding: 20px 0; /* Ajusta o padding para dar um pouco mais de espaçamento */
    }
  }
  
  /* Responsividade para telas menores que Full HD */
  @media (max-width: 768px) {
    .containerHeader {
      max-width: 95%; /* Aumenta a largura para caber melhor em telas menores */
    }
  }
  
  /* Responsividade para celulares em modo retrato */
  @media (max-width: 480px) {
    .containerHeader {
      max-width: 95%;
      padding: 15px 0; /* Menos padding */
    }
  }
  