.table {
    max-width: 90%;
    height: 400px; 
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-bottom: 25px;
    overflow: auto; 
    display: table; 
    table-layout: fixed; 

    & .tableLocais {
        border: 2px solid;
    }
}

.tabelaLocais {
    border: 2px solid;
}

.TituloLista {
    text-align: center;
    color: white;
    font-weight: bolder;
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 75%;
}

.searchInput {
    width: 250px;
    padding: 20px;
    height: 40px;
    max-width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    margin-bottom: 5px;
}

.paginacao button {
    padding: 10px;
    font-size: 16px;
    background-color: #73bf61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.paginacao button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.paginacao span {
    font-size: 16px;
    color: #000000;
}

.cadastroContainer {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

    & .cadastroContainer h5 {
        margin-bottom: 20px;
        font-weight: bolder;
      }

    &  .cadastroContainer p {
        margin-bottom: 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
      }

    &  .textDanger {
        margin-bottom: 10px;
      }
    
    & .modalBody {
        padding: 15px;
      }

      button {
        margin-top: 10px;
        background-color: green;
        border-color: #000;
      }

      button :hover {
        opacity: 0.8;
        background-color: green;
        border-color: #000;
      }
      
  }

  .buttonModal {
    margin-top: 10px;
    background-color: green;
    border-color: #000;
  }

  
.sobreContainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  
  .Title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  